*{
    padding: 0;
    margin: 0;
}
header{
    background-color: white;
    padding: 7px 0;
}
.container{
    margin: auto;
    max-width:1064px;

}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items:center ;
}
header ul{
    list-style: none;
}
header nav li a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B1B;
    text-decoration: none;
}
header nav li{
    margin-right: 28px;
}
header li:first-of-type{
    margin-right: 16px;
}
header nav li:first-of-type{
    margin-right: 28px;
}
header li:last-of-type{
    margin-left: 7px;
}
header nav li:last-of-type{
    margin-left: 0;
}
header .container{
    position: relative;
}
header .logo{
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 13px;
}
.main_banner{
    padding: 90px 0;
    background: #F0EFEB;
    position: relative;
}
.main_banner h1{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 42px;

}
.main_banner p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 26px;
}
.main_banner a{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    padding: 7px 23px;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
}
.main_banner img{
    position: absolute;
    right: 60px;
    top: 0;
}
.people{
    background: rgba(204, 204, 204, 0.3);
    border-radius: 0;
    padding-top: 76px;
    padding-bottom: 51px;
}
.people .for-image{
    max-width: 385px;
    margin-right: 50px;
}
.people .for-image img{
    width: 100%;
    display: block;
}
.people .description{
    max-width: 498px;
}
.people .description h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 31px;
}
.people .description p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 40px;
}
.people .description a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}
.guides{
    padding-top: 60px;
    padding-bottom: 189px;
}
.text-align{
    text-align: center;
}
.guides h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 27px;
}
.guides p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}
.desc{
    margin-bottom: 47px;
}
.ebooks{
    margin-bottom: 87px;
}
.sellers{
    margin-bottom: 52px;
}
.guides h4{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 17px;
}
.guides .for-image img{
    margin-bottom: 27px;
    display: block;
}
.guides .for-image p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 4px;
}
.guides .for-image a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
}
.culture{
    padding-top: 76px;
    padding-bottom: 51px;
    background: rgba(204, 204, 204, 0.6);
}
.culture .description h2{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    color: #000000;
    margin-bottom: 31px;
}
.culture .description p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    color: #000000;
    margin-bottom: 31px;
}
.culture .description{
    max-width: 532px;
    margin-right: 50px;
}
.culture .description a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
    text-decoration-line: underline;
    color: #000000;
    display: block;
}
.culture .for-image{
    max-width: 385px;
}
.culture .for-image img{
    width: 100%;
    display: block;
}
.flex-end{
    justify-content: flex-end;
}
.power{
    background: rgba(204, 204, 204, 0.3);
    padding-bottom: 51px;
    padding-top: 76px;
}
.power .for-image{
    max-width: 385px;
}
.power .description img{
    width: 100%;
    display: block;
}
.power .for-image{
    margin-right: 50px;
}
.power .description h3{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 31px;
}
.power .description p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 39px;
}
.power .description a{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}
.power .description{
    max-width: 532px;
}
.wrap{
    flex-wrap: wrap;
}
.thalby-unique{
    padding-top: 190px;
    padding-bottom: 290px;
}
.thalby-unique .description h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 69px;
}
.thalby-unique .description h2{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}
.width{
    width: 338px;
    margin-bottom: 162px;
}
.aqua{
    display: block;
    margin: auto;
    background: #21F7EC;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-bottom: 26px;
}
.thalby-unique h4{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}
.green{
    display: block;
    margin: auto;
    background: #33D3BC;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-bottom: 26px;
}
.blue{
    display: block;
    margin: auto;
    background: #18A5C6;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-bottom: 26px;
}
.orange{
    display: block;
    margin: auto;
    background: #D38F62;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-bottom: 26px;
}
.red{
    display: block;
    margin: auto;
    background: #F94C43;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-bottom: 26px;
}
.purple{
    display: block;
    margin: auto;
    background: #D399FF;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-bottom: 26px;
}
.fascinating{
    background: #F0F0F0;
    padding-bottom: 51px;
}
.fascinating img{
    margin-bottom: 35px;
    margin-top: -188px;
    position: relative;
}
.fascinating h4{
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: #000000;
    margin-bottom: 34px;
}
.name{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-bottom: 2px;
}
.work{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-bottom: 44px;
}
.fascinating a{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
    display: block;
}
.muller{
    width: 289px;
}
.kovalevski{
    width: 289px;
}
.Stoephasius{
    width: 289px;
}
.keepintouch{
    padding-top: 78px;
    padding-bottom: 88px;
}
.keep{
    margin: auto;
}
.keepintouch h3{
    margin-bottom: 9px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}
.keepintouch p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
}
.form{
    max-width: 366px;
    margin: auto;
}
#first-name{
    width: 153px;
    margin-bottom: 18px;
}
#last-name{
    width: 153px;
    margin-bottom: 18px;
}
.email{
    margin-bottom: 16px;
    width: 100%;
}
.subscribe{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 7px 23px 10px;
}
.button{
    width: 115px;
    margin: auto;
}
footer{
    background: #020202;
    padding-top: 51px;
    padding-bottom: 16px;
}
footer .logo{
    margin-bottom: 25px;
}
.icon{
    width: 129px;
}
.about{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
    margin-bottom: 50px;
}
.text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
   text-decoration: none;
}
footer ul li:first-of-type{
    margin-bottom: 35px;
}
footer ul li:nth-child(2){
    margin-bottom: 12px;
}
footer ul li:nth-child(3){
    margin-bottom: 12px;
}
footer ul li:nth-child(4){
    margin-bottom: 12px;
}
footer ul li:last-of-type{
    margin-bottom: 20px;
}
footer ul:first-of-type{
    margin-right: 75px;
}
footer .img{
    display: block;
    margin: auto;
}


